body{
  background-image: url(homer.jpg);
}

#instrument{
  height: 120px;
  width: 812px;
  padding-right: 10px;
  padding-top: 50px;
  margin: auto;

}

.box{
  width:100px;
  height:100px;
  margin-left: 10px;
  margin-top: 10px;
  float: left;
}

#c{
  background-color:#FF2D01;
}
#c:hover{
  background-color:#E65858;
}

#d{
  background-color:#FF9B01;
}
#d:hover{
  background-color:#F7BF69;
}

#e{
  background-color:#FFF001;
}
#e:hover{
  background-color:#FCF582;
}

#f{
  background-color:#08FF01;
}
#f:hover{
  background-color:#76FB72;
}

#g{
  background-color:#011CFF;
}
#g:hover{
  background-color:#6A79FA;
}

#a{
  background-color:#7401FF;
}
#a:hover{
  background-color:#AE6CFC;
}

#b{
  background-color:#D901FF;
}
#b:hover{
  background-color:#EC7FFF;
}
